{% extends 'dashboard/base.html.twig' %}

{% block content %}

    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Form validations
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <div class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                                    {{ form_start(form) }}
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">Mark <span class="required">*</span></label>
                                        <div class="col-lg-10">
                                            {{ form_widget(form.marque,{'attr':{'type':'text','class':'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label col-lg-2">Category <span class="required">*</span></label>
                                        <div class="col-lg-10">
                                            {{ form_widget(form.categorie,{'attr':{'type':'text','class':'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">Type <span class="required">*</span></label>
                                        <div class="col-lg-10">
                                            {{ form_widget(form.type,{'attr':{'type':'text','class':'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">Price <span class="required">*</span></label>
                                        <div class="col-lg-10">
                                            {{ form_widget(form.prixParJour,{'attr':{'type':'number','class':'form-control','placeholder':'Prix...'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">image <span class="required">*</span></label>
                                        <div class="col-lg-10">
                                            {{ form_widget(form.image,{'attr':{'type':'number','class':'form-control','placeholder':'Prix...'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            {{ form_widget(form.Submit, {'attr': {'class': 'btn btn-primary'}})}}
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>


{% endblock %}