{% extends 'front/layout.html.twig' %}





    {% block content %}


        <section class="breadcumb-area jarallax bg-img af">
            <div class="breadcumb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="content">
                                <h2>defective parts</h2>
                                <ul>
                                    <li><a href="{{ path('main_front') }}">Home</a></li>
                                    <li><a href="javascript:void(0)">All defective parts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<section class="shop-page section">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 pd-0">
                <div class="col-sm-12">
                    {% if pieces %}
                        <div class="filter-area">

                            <div class="list-grid">
                                <ul class="list-inline">
                                    <li><a href="#" id="gridview"><i class="fa fa-th"></i></a></li>
                                    <li><a href="#" id="listview"><i class="fa fa-list"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    {% else %}
                        <h2>no result found !</h2>
                    {% endif %}
                </div>
                <div class="col-sm-12 pd-0">
                    {% for piece in pieces %}
                    <div class="col-sm-4 products">
                        <figure><<img src="{{ asset('java/huntkingdom/src/Uploads/' ~ piece.image) }}"></figure>
                        <div class="contents">
                            <h3>{{ piece.nom }}</h3>
                            <p>{{ piece.description }}</p>
                            <a href="{{ path('reparation_front_repare',{'idP': piece.id,'idR': app.user.id}) }} " class="btn4" >repare</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</section>





















       {# <div class="cart-head">
            <div class="nav-shop-cart">
                <div class="widget_shopping_cart_content">
                    {% for piece in pieces %}
                        <ul class="product_list_widget ">
                        <li class="mini_cart_item">

                                <img src="{{ asset('uploads/photos/' ~ piece.image) }}" height="250px" width="250px">
                                <p class="product-name">{{ piece.nom }}</p>
                                <p>{{ piece.nom }}</p>
                                <p>{{ piece.description }}</p>
                        <a href="{{ path('reparation_front_repare',{'idP': piece.id,'idR': app.user.id}) }} " class="btn2" >repare</a>
                        </li>


                    </ul>
                    {% endfor %}


                </div>
            </div>
        </div>

#}









        {#   <h1>List pieces</h1>
           {% for piece in pieces %}
               <ul>
                   <li>{{ piece.nom }}</li>
                   <li>{{ piece.categorie }}</li>
                   <li>{{ piece.description }}</li>
                   <img src="{{ asset('uploads/photos/' ~ piece.image) }}" height="250px" width="250px">
                   <li><a href="{{ path('reparation_front_repare',{'idP': piece.id,'idR': app.user.id}) }}">repare</a></li>
               </ul>
           {% endfor %}
       #}
{% endblock %}



