{% extends 'front/formLayout.html.twig' %}
{% block registerName %}
new reparation registred here
{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">

        {{ form_start(form, {'method': 'post', 'action': path('reparation_front_repare',{'idP': idP,'idR':idR }),'attr': {'novalidate': 'novalidate','id':'formRepaire'} }       ) }}

        <div class="register_wrapper_box">
            <div class="register_left_form">
                <div class="row clearfix">

                    <b> Price</b>    {{ form_widget(form.prixRep, { 'id': 'prixRep'} ) }}
                    <div class="alert alert-danger" id="errorprixRep" hidden>
                        Enter Price
                    </div>
                   <b> End reparation date </b>{{ form_widget(form.dateFin, { 'id': 'dateFin'} ) }}
                    <div class="alert alert-danger" id="errordateFin" hidden>
                         end reparation date > current date
                    </div>
                    <b> Description</b> {{ form_widget(form.description, { 'id': 'description'} ) }}
                    <div class="alert alert-danger" id="errordescription" hidden>
                        Enter description
                    </div>

                </div>

                <div class="login_btn_wrapper register_btn_wrapper login_wrapper register_wrapper_btn">
                    <input type="submit" value="Repare" class="btn1" name="repare"/>
                </div>
                {{ form_end(form) }}


            </div>

        </div>
    </div>
{% endblock %}