<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coming Soon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('comingsoon_01/images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('comingsoon_01/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('comingsoon_01/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('comingsoon_01/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('comingsoon_01/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('comingsoon_01/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('comingsoon_01/css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body>


<div class="size1 bg0 where1-parent">
    <!-- Coutdown -->
    <div class="flex-c-m bg-img1 size2 where1 overlay1 where2 respon2" style="background-image: url({{ asset('comingsoon_01/images/bg01.jpg') }});">
        <div class="wsize2 flex-w flex-c-m cd100 js-tilt">


            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 years">{{years}}</span>
                <span class="s2-txt4">Years</span>
            </div>

            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 months">{{months}}</span>
                <span class="s2-txt4">Months</span>
            </div>


            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 days">{{days}}</span>
                <span class="s2-txt4">Days</span>
            </div>

            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 hours">{{hours}}</span>
                <span class="s2-txt4">Hours</span>
            </div>

            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 minutes">{{ minutes }}</span>
                <span class="s2-txt4">Minutes</span>
            </div>

            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
                <span class="l2-txt1 p-b-9 seconds">{{seconds}}</span>
                <span class="s2-txt4">Seconds</span>
            </div>
        </div>
    </div>

    <!-- Form -->
    <div class="size3 flex-col-sb flex-w p-l-75 p-r-75 p-t-45 p-b-45 respon1">
        <div class="wrap-pic1">
            <img src="{{ asset('java/huntkingdom/src/Uploads/' ~ piece.image ) }}" alt="LOGO">
        </div>

        <div class="p-t-50 p-b-60">
            <p class="m1-txt1 p-b-36">
                <span class="m1-txt2">progress percentage : </span>{{ taux }}%
            </p>
            <p class="m1-txt1 p-b-36">
                Your piece is <span class="m1-txt2">getting fixed </span>, your repairer <a href="{{ path('show_repairer_profile',{'idR':reparation.user.id }) }}"> {{ reparation.user }} </a>is working
            </p>



            <p class="s2-txt3 p-t-18">
               price : {{ reparation.prixRep }}
            </p>
            {% if tooLate == false %}
                <a href="{{ path('finish_reparation',{'idR':reparation.id,'idP':piece.id}) }}"><button class="flex-c-m s2-txt2 size4 bg5 bor1 hov1 trans-04" >Cancel</button>  </a>

            {% else %}
                <div class="alert alert-danger" role="alert">
                    Sorry, you can't cancel this reparation any more.
                    (4 days after reparation)
                </div>
            {% endif %}

        </div>


    </div>
</div>





<!--===============================================================================================-->
<script src="{{ asset('comingsoon_01/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('comingsoon_01/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('comingsoon_01/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('comingsoon_01/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('comingsoon_01/vendor/countdowntime/moment.min.js') }}"></script>
<script src="{{ asset('comingsoon_01/vendor/countdowntime/moment-timezone.min.js') }}"></script>
<script src="{{ asset('comingsoon_01/vendor/countdowntime/moment-timezone-with-data.min.js') }}"></script>
<script src="{{ asset('comingsoon_01/vendor/countdowntime/countdowntime.js') }}"></script>
<script>
    $('.cd100').countdown100({
        /*Set Endtime here*/
        /*Endtime must be > current time*/
        endtimeYear: {{years}},
        endtimeMonth: {{months}},
        endtimeDate: {{days}},
        endtimeHours: {{hours}},
        endtimeMinutes: {{minutes}},
        endtimeSeconds: {{seconds}},
        timeZone: ""
        // ex:  timeZone: "Africa/Tunis"
        //go to " http://momentjs.com/timezone/ " to get timezone
    });
</script>
<!--===============================================================================================-->
<script src="{{ asset('comingsoon_01/vendor/tilt/tilt.jquery.min.js') }}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{{ asset('comingsoon_01/js/main.js') }}"></script>

</body>
</html>











   {# <ul>

        <li>{{ reparation.id }}</li>
        <li>{{ reparation.prixRep }}</li>
        <li>{{ reparation.dateFin |date }}</li>
        <li>{{ reparation.description }}</li>

        <li>{{ years }}</li>
        <li>{{ piece.id }}</li>

    </ul>
#}