{% extends 'dashboard/base.html.twig' %}

{% block titre %} add your Complaint {% endblock %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <section id="main-content">
            <section class="wrapper">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Add your Complaint
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                {{ form_start(Form,{'attr': {'novalidate': 'novalidate','id':'formrec'} }) }}
                            <div class="form-group " id="errortitle">
                                <label for="inputError" class="control-label col-lg-2">Title <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    {{ form_widget(Form.title,{'attr':{'type':'text','class':'form-control','placeholder':'Title...'},'id':'title'}) }}
                                </div>
                                {{ form_errors(Form.title) }}
                            </div>
                            <div class="form-group " id="errordescription">
                                <label for="inputError" class="control-label col-lg-2">Description <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    {{ form_widget(Form.description,{'attr':{'type':'textarea','class':'form-control','placeholder':'Description...'},'id':'description'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ form_widget(Form.validate, {'attr': {'class': 'btn btn-primary'}})}}
                                </div>
                            </div>
                            {{ form_end(Form) }}
                           </div>
                           </div>
                           </section>
                           </div>
                           </section>
        </section>





    {% endif %}
{% endblock %}

