<footer class="jarallax">
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="foo-about">
                        <figure><img src="{{ asset('front/assets/images/logo/logo.png') }}" alt="" /></figure>
                        <div class="contents">
                            <p>All modern weaponts can apprecie our broad services akshay handge phatum feugiat gun. This is Photo shop's version of Lorem.</p>
                            <a href="#" class="btn3">read more <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <ul class="foo-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>latest News</h2>
                    <div class="foo-news">
                        <div class="newslists">
                            <div class="dbox">
                                <div class="dleft">
                                    <figure><img src="{{ asset('front/assets/images/blog/sm-1.jpg') }}" alt="" /></figure>
                                </div>
                                <div class="dright">
                                    <div class="content">
                                        <h4><a href="#">Weapons 2017</a></h4>
                                        <p>Weaponts can apprecie
                                            <br> our broad services.</p>
                                        <span><i class="fas fa-calendar"></i> 12 Jan 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="newslists">
                            <div class="dbox">
                                <div class="dleft">
                                    <figure><img src="{{ asset('front/assets/images/blog/sm-2.jpg') }}" alt="" /></figure>
                                </div>
                                <div class="dright">
                                    <div class="content">
                                        <h4><a href="#">Weapons 2018</a></h4>
                                        <p>Weaponts can apprecie
                                            <br> our broad services.</p>
                                        <span><i class="fas fa-calendar"></i> 12 Jan 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>Product Shop</h2>
                    <div class="products-foo">
                        <ul>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/products/sm1.jpg') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/products/sm2.jpg') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/products/sm3.jpg') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/products/sm4.jpg') }}" alt="" /></a>
                            </li>
                        </ul>
                        <p>For More Products and Gun Click Here!</p>
                        <a href="#" class="btn1">Our Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="copyright sm-t-center">
                        <p>Copyright © 2018 <a href="#"><span>Gun</span> </a>Shop. Design by <a href="#"><span>Webstrot</span></a></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="foo-links sm-t-center">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Copyright Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>