{% extends 'front/layout.html.twig' %}

{% block content %}


    <!--Products area start here-->
    <section class="products-area section bg-img jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h2>Our Products</h2>
                        <p>All modern weaponts can appreciate our broad services akshay handge pharetra, eratd fermentum feugiat, gun are best velit mauris aks egestasut aliquam.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 pro-ctg">
                    <div class="col-md-3 col-sm-6 pd-0">
                        <div class="catagories-lists">
                            <div class="contents">
                                <figure><img src="{{ asset('front/assets/images/products/1.png') }}" alt="" /></figure>
                                <h3>Handguns</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 pd-0">
                        <div class="catagories-lists nd">
                            <div class="contents">
                                <figure><img src="{{ asset('front/assets/images/products/2.png') }}" alt="" /></figure>
                                <h3>Machine guns</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 pd-0">
                        <div class="catagories-lists">
                            <div class="contents">
                                <figure><img src="{{ asset('front/assets/images/products/3.png') }}" alt="" /></figure>
                                <h3>Silencers</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 pd-0">
                        <div class="catagories-lists nd">
                            <div class="contents">
                                <figure><img src="{{ asset('front/assets/images/products/4.png') }}" alt="" /></figure>
                                <h3>Gun Bullet</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 pd-0">
                    <div class="pro-sliders">
                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/1.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/2.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/3.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/4.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/1.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/2.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="products">
                                <figure><img src="{{ asset('front/assets/images/products/3.jpg') }}" alt="" /></figure>
                                <div class="contents">
                                    <h3>MC5 Carbine</h3>
                                    <span>$1,499.00</span>
                                    <a href="#" class="btn4">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="load-btn text-center mr-t80">
                        <a href="#" class="btn1">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Products area end here-->
    <!--About area start here-->
    <!--About area end here-->
    <!--Banner area start here-->
    <!--Banner area end here-->
    <!--Event area start here-->
    <!--Event area End here-->
    <!--Videos area start here-->
    <section class="banner-area2 bg-img jarallax af">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="videos-area text-center">
                        <div class="video-popups">
                            <a href="{{ asset('front/https://www.youtube.com/watch?v=PZxHwbxI3TU') }}" class="video-play-icon"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="section-heading mr-0">
                            <h2 class="mr-0">New MC7 Carbine Gun</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg-text">
            <h1>Coming Soon</h1>
        </div>
    </section>
    <!--Videos area end here-->
    <!--Twitter area start here-->
    <div class="twitter-posts section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 pd-0">
                    <div class="twitt-sliders">
                        <div class="col-sm-12">
                            <div class="contents">
                                <p>New Item on Weapon Store. We are Happy too show my new item on our store Machine Gun
                                    <br>#weapon #gun #webstrot</p>
                                <span>by AkshayHandge @HandgeAkshay - Jan 23, 2017</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="contents">
                                <p>New Item on Weapon Store. We are Happy too show my new item on our store Machine Gun
                                    <br>#weapon #gun #webstrot</p>
                                <span>by AkshayHandge @HandgeAkshay - Jan 23, 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Twitter area end here-->
    <!--Gallery area start here-->
    <section class="gallery-area section2 bg-img jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h2>Photo Gallery</h2>
                        <p>All modern weaponts can appreciate our broad services akshay handge pharetra, eratd fermentum feugiat, gun are best velit mauris aks egestasut aliquam.</p>
                    </div>
                </div>
                <div class="gallery col-sm-12 pd-0">
                    <div class="col-md-4 col-sm-4 col-xs-12 pd-0">
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="{{ asset('front/assets/images/gallery/1.jpg') }}">
                                        <img src="{{ asset('front/assets/images/gallery/1.jpg') }}" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
                                    <div class="content">
                                        <h3>Bullets Roll</h3>
                                        <p>All modern weaponts can aiate our broad services akshay.</p>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="{{ asset('front/assets/images/gallery/4.jpg') }}">
                                        <img src="{{ asset('front/assets/images/gallery/4.jpg') }}" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
                                    <div class="content">
                                        <h3>Bullets Roll</h3>
                                        <p>All modern weaponts can aiate our broad services akshay.</p>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pd-0">
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="{{ asset('front/assets/images/gallery/2.jpg') }}">
                                        <img src="{{ asset('front/assets/images/gallery/2.jpg') }}" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
                                    <div class="content">
                                        <h3>Bullets Roll</h3>
                                        <p>All modern weaponts can aiate our broad services akshay.</p>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pd-0">
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="{{ asset('front/assets/images/gallery/3.jpg') }}">
                                        <img src="{{ asset('front/assets/images/gallery/3.jpg') }}" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
                                    <div class="content">
                                        <h3>Bullets Roll</h3>
                                        <p>All modern weaponts can aiate our broad services akshay.</p>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="{{ asset('front/assets/images/gallery/6.jpg') }}">
                                        <img src="{{ asset('front/assets/images/gallery/6.jpg') }}" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
                                    <div class="content">
                                        <h3>Bullets Roll</h3>
                                        <p>All modern weaponts can aiate our broad services akshay.</p>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 pd-0">
                        <div class="col-sm-12 mr-b30 lst_div_box_galery hidden-xs">
                            <div class="gimg">
                                <figure>
                                    <a href="{{ asset('front/assets/images/gallery/5.jpg') }}">
                                        <img src="{{ asset('front/assets/images/gallery/5.jpg') }}" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
                                    <div class="content">
                                        <h3>Bullets Roll</h3>
                                        <p>All modern weaponts can aiate our broad services akshay.</p>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Gallery area end here-->
    <!--Trainning area Start here-->
    <!--Trainning area End here-->
    <!--Price area Start here-->
    <!--Price area End here-->
    <!--Banner area start here-->
    <section class="banner-area3 section af bg-img jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-md-offset-5">
                    <div class="content">
                        <div class="con">
                            <h2>THREAT-MANAGEMENT <br>EXPERTS</h2>
                            <p>Our facilities in Tilden, TX offer great ranges and accommns for anyone looking to attend one of our hunts or training ses. Tilden has a 1000 yard range with steel every 100 yards as well a unknown distance steel throughout. For aerial opens we have vehicle interdiction.</p>
                            <a href="#" class="btn1">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Banner area end here-->
    <!--Blog area start here-->
    <!--Blog area end here-->
    <!--Google map area start-->
    <!--Google map area end-->
    <!--Partner area start here-->
    <section class="partner-area section bg-img jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h2>Our Trusted Partners</h2>
                        <p>All modern weaponts can appreciate our broad services akshay handge pharetra, eratd fermentum feugiat, gun are best velit mauris aks egestasut aliquam.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="partner-list">
                        <ul>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/1.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/2.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/3.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/4.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/5.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/6.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/7.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/8.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/9.png') }}" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('front/assets/images/client/10.png') }}" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Partner area End here-->
    <!--Subscribe area start here-->
    <section class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="subscribe">
                        <span class="ico"><i class="far fa-envelope"></i></span>
                        <div class="conts">
                            <h2>Get Our Latest News</h2>
                            <p>Subscribe our Newsletter Now !</p>
                        </div>
                        <form>
                            <input type="email" placeholder="Email Address">
                            <button type="submit" class="btn1">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

