<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from www.webstrot.com/html/tm/gunshop//index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Feb 2020 16:24:27 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

{% include "front/head.html.twig" %}

<body>
<div id="preloader">
    <div id="status"><img src="{{ asset('front/assets/images/logo/preloader.gif') }}" id="preloader_image" alt="loader">
    </div>
</div>
{% block header %}
    {% include "front/header.html.twig" %}
{% endblock  %}


{% block content %}

{% endblock content %}
{% include "front/footer.html.twig" %}

<!-- jQuery latest version -->
<script src="{{ asset('front/assets/js/vendor/jquery-3.2.1.min.js') }}"></script>
<!-- tether JavaScript -->
<script src="{{ asset('front/assets/js/tether.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('front/assets/js/bootstrap.min.js') }}"></script>
<!-- Owl.carousel JavaScript -->
<script src="{{ asset('front/assets/js/owl.carousel.min.js') }}"></script>
<!-- Bxslider JavaScript -->
<script src="{{ asset('front/assets/js/jquery.bxslider.min.js') }}"></script>
<!-- isotope JavaScript -->
<script src="{{ asset('front/assets/js/isotope.pkgd.min.js') }}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{{ asset('front/assets/js/jquery.magnific-popup.min.js') }}"></script>
<!-- meanmenu JavaScript -->
<script src="{{ asset('front/assets/js/jquery.meanmenu.js') }}"></script>
<!-- jarallax JavaScript -->
<script src="{{ asset('front/assets/js/jarallax.min.js') }}"></script>
<!-- jQuery-ui JavaScript -->
<script src="{{ asset('front/assets/js/jquery-ui.min.js') }}"></script>
<!-- Progressbar Animation JavaScript -->
<script src="{{ asset('front/assets/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.counterup.min.js') }}"></script>
<!-- masonry JavaScript -->
<script src="{{ asset('front/assets/js/masonry.pkgd.min.js') }}"></script>
<!-- bootstrap-touchspin JavaScript -->
<script src="{{ asset('front/assets/js/jquery.bootstrap-touchspin.min.js') }}"></script>
<!-- downCount JavaScript -->
<script src="{{ asset('front/assets/js/jquery.downCount.js') }}"></script>
<!-- wow JavaScript -->
<script src="{{ asset('front/assets/js/wow.min.js') }}"></script>
<!-- slick JavaScript -->
<script src="{{ asset('front/assets/js/slick.min.js') }}"></script>
<!-- Plugins JavaScript -->
<script src="{{ asset('front/assets/js/plugins.js') }}"></script>
<!-- Init JavaScript -->
<script src="{{ asset('front/assets/js/main.js') }}"></script>

</body>



<!-- Mirrored from www.webstrot.com/html/tm/gunshop//index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Feb 2020 16:25:27 GMT -->
</html>


