{% extends 'dashboard/base.html.twig' %}

{% block content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="{{path('main_dashboard')}}">Home</a></li>
                        <li><i class="fa fa-table"></i>Table</li>
                        <li><i class="fa fa-th-list"></i>Basic Table</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Advanced Table
                            <br><br>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{{path('ajout_competition')}}"><span class="icon_plus_alt"></span></a>
                            </div>
                            <br><br>
                        </header>
                        <script src="{{ asset('sorttable.js') }}"></script>
                        <table class="sortable">
                            <tbody>
                            <tr>
                                <th><i class="icon_profile"></i> Identifiant</th>
                                <th><i class="icon_calendar"></i> Name</th>
                                <th><i class="icon_mail_alt"></i> Debute</th>
                                <th><i class="icon_pin_alt"></i> Last date</th>
                                <th><i class="icon_mobile"></i> Category</th>
                                <th><i class="icon_mobile"></i> Adress</th>
                                <th><i class="icon_mobile"></i> Nombre of Participants</th>
                                <th><i class="icon_cogs"></i> Action</th>
                            </tr>
                            {% for competition in competitions %}
                            <tr>
                                <td>{{ competition.id }}</td>
                                <td>{{ competition.nom }}</td>
                                <td>{{ competition.dateDebut.date }}</td>
                                <td>{{ competition.dateFin.date }}</td>
                                <td>{{ competition.categorie }}</td>
                                <td>{{ competition.lieu }}</td>
                                <td>{{ competition.nbParticipants }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="{{ path('modifier_competition',{id:competition.id}) }}"><i class="icon_pencil-edit_alt"></i></a>
                                        <a class="btn btn-danger" href="{{path('supprimer_competition',{id:competition.id})}}"><i class="icon_close_alt2"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <a href="{{path('competition_export')}}">Export data</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
{% endblock %}
