{% extends 'front/layout.html.twig' %}
{% block header %}
    <header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="logo-area">
                        <a href="{{ path('main_front') }}"><img src="{{ asset('front/assets/images/logo/logo.png') }}" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 hidden-xs">
                    <div class="main-header">
                        <div class="main-menus">
                            <nav>
                                <ul class="mamnu">
                                    <li><a href="{{ path('main_front') }}">Home</a></li>
                                    <li><a href="{{ path('about') }}">About</a></li>
                                    <li>
                                        <a href="#">Training</a>
                                        <ul>
                                            <li><a href="{{ path('training_front') }}">Training</a></li>
                                            <li><a href="{{ path('animals_front') }}">Animals</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Events</a>
                                        <ul>
                                            <li><a href="{{ path('list_event') }}">list_event</a></li>
                                            <li><a href="{{ path('event-single') }}">event-single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">shop</a>
                                        <ul>
                                            <li><a href="{{ path('shop') }}">shop page</a></li>
                                            <li><a href="{{ path('shop-single') }}">shop single</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">blog</a>
                                        <ul>
                                            <li><a href="{{ path('blog') }}">blog page</a></li>
                                            <li><a href="{{ path('blog-single') }}">blog single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a href="{{ path('location_front') }}">location</a></li>
                                            <li><a href="{{ path('accommodation_front') }}">Accommodation</a></li>
                                            <li><a href="{{ path('transport_front') }}">transport</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Reparation</a>
                                        <ul>
                                            <li><a href="{{ path('reparation_front') }}">Reparation</a></li>
                                            <li><a href="{{ path('promotion_front') }}">Promotion</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="serach-header">
                            <button class="searchd"><i class="fas fa-search"></i></button>
                            <div class="searchbox">
                                <button class="close">×</button>
                                <form>
                                    <input type="search" placeholder="Search …">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="cart-head">
                            <button><i class="fas fa-shopping-cart"></i></button>
                            <div class="nav-shop-cart">
                                <div class="widget_shopping_cart_content">
                                    <ul class="product_list_widget ">
                                        <li class="mini_cart_item">

                                            <a href="#">
                                                <img src="{{ asset('front/assets/images/products/5.jpg') }}" alt="" />
                                                <p class="product-name">Shop Item 01</p>
                                            </a>

                                            <p class="quantity">1 x
                                                <strong class="Price-amount">$200.00</strong>
                                            </p>

                                            <a href="#" class="remove" title="Remove this item">x</a>
                                        </li>
                                        <li class="mini_cart_item">

                                            <a href="#">
                                                <img src="{{ asset('front/assets/images/products/6.jpg') }}" alt="" />
                                                <p class="product-name">Shop Item 01</p>
                                            </a>

                                            <p class="quantity">1 x
                                                <strong class="Price-amount">$200.00</strong>
                                            </p>

                                            <a href="#" class="remove" title="Remove this item">x</a>
                                        </li>
                                        <li class="mini_cart_item">

                                            <a href="#">
                                                <img src="{{ asset('front/assets/images/products/7.jpg') }}" alt="" />
                                                <p class="product-name">Shop Item 01</p>
                                            </a>

                                            <p class="quantity">1 x
                                                <strong class="Price-amount">$200.00</strong>
                                            </p>

                                            <a href="#" class="remove" title="Remove this item">x</a>
                                        </li>
                                    </ul>
                                    <!-- /.product_list_widget -->

                                    <p class="total">
                                        <strong>Subtotal:</strong>
                                        <span class="amount">$300.00
                                                </span>
                                    </p>

                                    <p class="buttons">
                                        <a href="#" class="btn1">View Cart</a>
                                        <a href="#" class="btn2">Checkout</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sing-in-btn">
                            <a href="#" class="btn1">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Responsive Menu area-->
        <div class="mobilemenu">
            <div class="mobile-menu visible-xs">
                <nav>
                    <ul>
                        <li><a href="{{ asset('TrainingBundle/Ressources/views/front/index.html.twig') }}">Home</a></li>
                        <li><a href="{{ asset('about.html.twig') }}">About</a></li>
                        <li><a href="{{ asset('TrainingBundle/Ressources/views/front/services.html.twig') }}">services</a></li>
                        <li>
                            <a href="javascript:void(0)">pages</a>
                            <ul>
                                <li><a href="{{ asset('about.html.twig') }}">about</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/shop.html.twig') }}">shop</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/product-single.html.twig') }}">shop single</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/event.html.twig') }}">event</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/event-single.html.twig') }}">event-single</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/blog.html.twig') }}">blog</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/blog-single.html.twig') }}">blog single</a></li>
                                <li><a href="{{ asset('front/contact.html.twig') }}">contact</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">shop</a>
                            <ul>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/shop.html.twig') }}">shop page</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/product-single.html.twig') }}">shop single</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">blog</a>
                            <ul>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/blog.html.twig') }}">blog page</a></li>
                                <li><a href="{{ asset('TrainingBundle/Ressources/views/front/blog-single.html.twig') }}">blog single</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ asset('front/contact.html.twig') }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Responsive Menu area End-->
    </header>
{% endblock  %}
{% block content %}


{% endblock content %}