<aside>
    <!-- sidebar menu start-->
<div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu">
        <li class="active">
            <a class="" href="{{ path('main_dashboard') }}">
                <i class="icon_house_alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_document_alt"></i>
                <span>Forum</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="{{ path('list_publication') }}">Publication</a></li>
                <li><a class="" href="{{ path('list_complaint') }}">complaint</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_desktop"></i>
                <span>Services</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="{{ path('list_locations') }}">Locations</a></li>
                <li><a class="" href="{{ path('list_accommodation') }}">accommodation</a></li>
                <li><a class="" href="{{ path('list_transport') }}">Means of transport</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_genius"></i>
                <span>Reparation</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="{{ path('list_promotion') }}">Promotion</a></li>
                <li><a class="" href="{{ path('list_reparation') }}">Reparation</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_piechart"></i>
                <span>Events</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="{{ path('list_competition') }}">Competition</a></li>
                <li><a class="" href="{{ path('list_publicity') }}">Publicity</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_table"></i>
                <span>Training</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="{{ path('list_training') }}">Training</a></li>
                <li><a class="" href="{{ path('list_animals') }}">Animals</a></li>
            </ul>
        </li>

        <li>
            <a class="" href="{{ path('list_product') }}">
                <i class="icon_documents_alt"></i>
                <span>Products</span>

            </a>

        </li>

    </ul>
    <!-- sidebar menu end-->
</div>
</aside>